<form action="/login" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="form-control" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" required>
    <button class="btn mt-2 btn-success form-control">Login</button>
</form>

