<form action="/addphoto" method="post" enctype="multipart/form-data">
    <label class="mb-2" for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control">
    <label class="mb-2" for="caption">Caption</label>
    <input type="text" name="caption" id="caption" class="form-control">
    <label class="mb-2" for="userId">userId</label>
    <input type="number" name="userId" id="userId" class="form-control">
    <label class="mb-2" for="image_url">Image</label>
    <input type="file" name="image_url" id="image_url" class="form-control">
    <button class="btn btn-primary mt-2 form-control">Submit</button>
</form>