<form action="/addphoto" method="post" enctype="multipart/form-data" >
    <label class="mb-2" for="title">Title</label>
    <input placeholder="title Foto" type="text" name="title" id="title" class="form-control" required>
    <label class="mb-2" for="caption">Caption</label>
    <input placeholder="caption Foto" type="text" name="caption" id="caption" class="form-control" required>
    <input readonly placeholder="<%=user.userID %> " value="<%= user.userID %> " type="hidden" name="userId" id="userId" class="form-control" required>
    <label class="mb-2" for="image_url">Image</label>
    <input type="file"  name="image_url" id="image_url" class="form-control" required>
    <button type="submit" class="btn btn-primary mt-2 form-control" >Add</button>
</form>