<form action="/adduser" method="post" enctype="multipart/form-data">
    <label class="mb-2" for="username">Username</label>
    <input type="text" name="username" id="username" class="form-control">
    <label class="mb-2" for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control">
    <button class="btn btn-primary mt-2 form-control">Submit</button>
</form>