<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")  %> 
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="form py-3" style="width: 50%;margin-left: auto;margin-right: auto;">
                <h1>Add Photo</h1>
                <%- include("../partials/formaddPhoto.ejs")  %> 
            </div>
        </div>
    </div>
</body>
</html>