<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")  %> 
</head>
<body>
    <div class="container my-3">
        <h1 class="text-center">List Foto</h1>
        <%- include("../partials/cardphotos.ejs")  %> 
    </div>
</body>
</html>