<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")  %> 
</head>
<body>
    <div class="container my-3">
        <div class="row">
            <h1 class="text-center">Login</h1>
            <div class="adduser" style="width: 50%;margin-left: auto;margin-right: auto;">
                <%- include("../partials/formLogin.ejs")  %> 
                <strong>Belum Punya Akun? </strong><a style="text-decoration: none;" href="/register">Register Disini</a>
            </div>
        </div>
    </div>
</body>
</html>